p {

    font-family: "comicsans";
    color:white;
    overflow-wrap:break-word;
    word-wrap:break-word;
    max-width: 100%; 
    box-sizing: border-box;

}

@font-face {
    font-family: "comicsans";
    src: url('fonts/COMIC.TTF');
}

.baldi {
    
   width: 201px;
  height: 78px;
  
  background-size: cover;
  
  background-image: url('buttons/baldi.png');
  background-color: transparent;
  border: transparent;
  font-family: "comicsans";
  cursor:pointer;
  transition: 0.05s;
   image-rendering: pixelated;

  
}


.baldi:hover {
    background-image: url('buttons/baldihover.png');
    transform: scale(1.1)



}

.baldi:active
{
    background-image: url('buttons/baldiclick.png');
    transform: scale(0.94)


}





.baldishow
{
image-rendering: pixelated;
position: fixed;
bottom: -20px;
right: 0px;

}


.gameplay0
{

    width: 42%;
    height: 42%;
}

html, body
{



}

hr  {
    color:white;      
    }


div.general {

width: 80%;
max-width: 800px;
margin: -20px auto;
padding: 20px;
border-radius: 8px;
size: 6%;
}

div.devlogcontent {
border-width: 50%;
border: 1px solid white;
padding: 15px; 
}