p {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-decoration-thickness: 5;


}

@font-face {
    font-family: "comicsans";
    src: url('fonts/COMIC.TTF');
}


@font-face {
    font-family: "Comic";
    src: url('fonts/ComicNeue-Bold.ttf');
}



.bbigap {
  color:transparent;
   width: 640px;
  height: 360px;
  
  background-size: cover;
  
  background-image: url('cssimages/BBIGAPThumbnail.png');
  background-color: transparent;
  border: transparent;
  font-size:xx-small;
  cursor:pointer;
  transition: 0.05s;
  border-radius: 12px;
   image-rendering: pixelated;
   transition: 0.05s;
   width: 46%;
   min-height: 360px;
   min-width: 480px;
   color:transparent;    
    display: block;
}

.bbigap-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 8px; 
}




.kkr {
   color:transparent;
   width: 640px;
  height: 360px;
  
  background-size: cover;
  
  background-image: url('cssimages/KKRThumbnail.png');
  background-color: transparent;
  border: transparent;
  font-size:xx-small;
  cursor:pointer;
  transition: 0.05s;
  border-radius: 12px;
   image-rendering: pixelated;
   transition: 0.05s;
   width: 46%;
   min-height: 360px;
   min-width: 480px;
   color:transparent;    
    display: block;
}

.kkr-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 8px; 
}



.bbigapDevlog {
   color:transparent;
   width: 640px;
  height: 360px;
  
  background-size: cover;
  
  background-image: url('cssimages/bbigapdevlog.png');
  background-color: transparent;
  border: transparent;
  font-size:xx-small;
  cursor:pointer;
  transition: 0.05s;
  border-radius: 12px;
   image-rendering: pixelated;
   transition: 0.05s;
   width: 46%;
   min-height: 360px;
   min-width: 480px;
   color:transparent;    
    display: block;
}

.bbigapDevlog-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 8px; 
}








.belowgame {
    font-family: "Comic";
  font-size: 14px;
  color: white;
  display: inline-block;
  vertical-align:text-bottom;
}



.retrostar:hover {
    transform: scale(1.03)



}

.retrostar:active
{
    transform: scale(0.98)


}


.gameicon
{

    transition: 0.05s;
    width: fit-content;
height: fit-content;
inline-size: fit-content;
block-size: fit-content;
}


hr  {
    border: none;     
    margin-top: 30px;  
    margin-bottom: 0;   
    height: 0;         
    }

.gameicon:hover {
    transform: scale(1.03)



}

.gameicon:active
{
    transform: scale(0.98)


}


.game
{

    width: 42%;
    height: 42%;
}

.introvideo

{
position: relative;
top: -5px;

}


.content {

background-image: url('bgtile.png'); 
background-repeat: repeat; 
background-size: 64px 64px;
background-position: center; 
max-width: 800px;
margin: 40px auto;
padding: 20px;
border-radius: 4px;
width: fit-content;
height: fit-content;
inline-size: fit-content;
block-size: fit-content;
}